.select {
    border: solid 2px green;
    border-radius: 5px;
    display: inline-block;
    font-size: 40px;
    width: 500px;
    position: relative;
}

.conteiner {
    margin: 50px auto;
    width: 500px;
}

p {
    font-size: 50px;
}

.arrow-up::after {
    content: "▴";
    position: absolute;
    left: 90%;
    top: 10px;
}

.arrow-down::after {
    content: "▾";
    position: absolute;
    left: 90%;
    top: 10px;
}

.selected:hover {
    background-color: gold;
    color: white;
    cursor: pointer;
}

.option:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.select-item {
    height: 65px;
    text-align: start;
    align-items: center;
    display: flex;
}

.def {
    padding-left: 15px;
}

.icon {
    background-image: url(./icon.png);
    width: 50px;
    height: 50px;
    background-size: 200px;
    display: inline-block;
    margin: 5px;
}

.facebook {
    background-position-x: -9px;
    background-position-y: -6px;
}

.inst {
    background-position-x: 58px;
    background-position-y: -6px;
}

.youtube {
    background-position-x: 125px;
    background-position-y: -6px;
}